/* ==UNIVERSAL== */
body, html {
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(248, 246, 246);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
  }
  
  #front-name {
    text-transform: uppercase;
    letter-spacing: .2em;
    display: inline-block;
    border: 4px double rgb(255, 255, 255);
    border-width: 4px 0;
    padding: 1.0em 0em;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    text-align: center;
    color:white;
  }
  @media (max-width: 767px) {                  
    #front-name {
       display: none;
    }
 }
  p span {
  
    font: 400 3em/1 "Oswald", sans-serif;
    letter-spacing: 20;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
    background: url(../spacepic2.0.jpg) ;
    -webkit-background-clip: text;
  
  /* Animate Background Image */
  
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 40s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
  }
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: -200% 50%; }
    100% { background-position: 250% 50%; }
    0% { background-position: -100% 50%; }
  }

  a {
    color: #333;
  }

  a:-webkit-any-link,
  a:-webkit-any-link:hover,
  a:-webkit-any-link:focus {          /* ALL LINKS */
    text-decoration: none;
    color:white;
  }

  .sub-banner-text{                   /* SECTION HEADERS */
    font-weight: bold;
    text-align: center;
    font-size:28px;
  }

 

/* ==NAVBAR== */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
    font-weight: bold;
  }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 28px;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #333;
  }
  /* Link */
  .navbar .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
  }
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:focus {
    color: #333;
  }
  /* Mobile version */
  .navbar .navbar-toggle {
    border-color: #fff;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #333;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #fff;
  }

/* ==HEADER SECTION== */
  #headerSection {
    background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #2a2a2b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #2a2a2b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#080001, #2a2a2b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #2a2a2b); /* Standard syntax */
    height: 113vh;
    
  }
  #positioner{
    position: relative;
   
    
    overflow:hidden;
    position:relative;
    z-index: 1;
    width: 100%;
    background-color: #000000;
    
  }
 
  .large-header {
    position: relative;
    width: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
   
  }
  #large-header {
    background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
  }

  #helpfromstevenbanner {
width: 300px;
  }

  .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  .demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
  }
  .main-title .thin {
    font-weight: 200;
  }
  @media only screen and (max-width: 768px) {
    .demo-1 #Front-name {
      font-size: 3em;
    }
  }
  
  .header-contact-imgs {
    height: 12px;
    width: 30px;
    margin-top: 500px;
    padding: 10px;
margin-left: 40px;
  }
  .banner-text{                       /* PAGE HEADER */
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    color:#c7c7c7;
position:absolute;
left:0px;
width: 100%;
z-index:5;

text-align: center;
  }
  .downArrow{
    font-size: 2rem;
    color: rgb(255, 253, 253);
   top: 60px;
  left: 1.5%;
  }
  
  
/* ==ABOUT ME SECTION== */
  #headshot-img {
    height: 175px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #resume-link{
    color: #3b84d8;
    text-decoration: underline;
    text-align: center;
  }
  #bio-text {
    padding: 5px;
  }

/* ==SKILLS SECTION== */
  #skillsetSection {
    background-color: black;
  }
  .skill-div {
    padding: 10px;
  }


  .skill-img {
    height: 80px;
    width: 80px;
  }

/* ==PROJECT SECTION== */
  .projects {
    height: auto;
    margin: 20px;
  }
  .proj-img-div{
    text-align: center;
  }
  .proj-img {
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .proj-text-div{
    height: auto;
    padding: 10px;
    color: white;
  }
  .proj-text-header{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .proj-br{
    display: block;
  }
  .proj-links{
    font-size: 14px;
  }
  .proj-links > a {
    color: #2e77ff;
    text-decoration: underline;
  }
  .proj-text-sub-header{
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }
  .proj-text{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }

/* ==CONTACT SECTION== */
  #contactSection {
    background-color:black;
  }
  .contact-imgs {
    height: 30px;
    width: 30px;
    margin: 5px;
    
  }

/* ==FOOTER== */
  .footer {
    color: #fff;
    background-color: #191919;
    height: auto;
    padding: 10px;
  }

/* ==RESPONSIVENESS== */
  @media screen and (min-width: 768px){
    .banner-text{
      font-size: 45px;
    }
    p{
      font-size: 18px;
    }
    .contact-imgs {
      height: 35px;
      width: 35px;
    }
    .header-contact-imgs {
      height: 40px;
      width: 40px;
    }
    #headshot-img {
      height: 300px;
    }
    #resume-link{
      text-align: left;
    }
    .projects {
      background-color: transparent;
      padding: none;
      border: none;
    }
    .proj-img {
      height: 200px;
    }
    .proj-text-div{
      background-color:black;
      height: 200px;
    }
    .proj-text-header{
      text-align: left;
      font-size: 20px;
    }
    .proj-br{
      display: none;
    }
    .proj-links{
      font-size: 16px;
    }
    .proj-text-sub-header{
      text-align: left;
      font-size: 16px;
    }
    .proj-text{
      text-align: left;
      padding-top: none;
      font-size: 18px;
    }
  }

  @media screen and (min-width: 992px){
    .banner-text{
      font-size: 50px;
    }
    p{
      font-size: 20px;
    }
    #headshot-img {
      height: 250px;
    }
    .header-contact-imgs {
      height: 45px;
      width: 45px;
    }
    .proj-text-header{
      font-size: 24px;
    }
    .proj-links{
      font-size: 18px;
    }
    .proj-text-sub-header{
      font-size: 18px;
    }
    .proj-text{
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1200px){
    .banner-text{
      font-size: 60px;
    }
    p{
      font-size: 22px;
    }
    .header-contact-imgs {
      height: 50px;
      width: 50px;
    }
    #headshot-img {
      height: 300px;
    }
    .proj-img {
      height: 150px;
    }
    .proj-text-div{
      height: 150px;
    }
    .proj-text-header{
      font-size: 16px;
    }
    .proj-links{
      font-size: 14px;
    }
    .proj-text-sub-header{
      font-size: 14px;
    }
    .proj-text{
      font-size: 16px;
    }
  }
  